@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --branco: #fff;
    --preto: #000;
    --fundo: #222639;
    --vermelho: rgb(179, 21, 21);
    --valor: #1B9C85;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--fundo);
    color: var(--branco);
}

.produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produtos h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 1.5em;
}

.produtos a {
    color: var(--branco);
    text-decoration: none;
    padding: .5em 1em;
    border: 2px solid var(--branco);
    border-radius: 15px;
    margin: 0 auto;
    transition: .3s;
    margin: 1.5em 0;
}

.produtos a:hover {
    background-color: var(--branco);
    color: var(--preto);
}

.produto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    text-align: center;
}

.caixa h4 {
    color: var(--valor);
}

.caixa button {
    padding: .5em 1em;
    border: none;
    color: var(--branco);
    font-weight: 700;
    background-color: var(--valor);
    border-radius: 15px;
    margin-top: .5em;
    cursor: pointer;
    transition: .3s;
    font-size: 1.3em;
}

.caixa button:hover {
    opacity: .7;
}
